<?xml version="1.0" encoding="UTF-8"?>
<server description="NaylaServer">
	<featureManager>
		<feature>webProfile-8.0</feature>
		<feature>jaxws-2.2</feature>
		<feature>mpMetrics-1.1</feature>
		<feature>mpConfig-1.3</feature>
		<feature>mpHealth-1.0</feature>
	</featureManager>

	<httpEndpoint id="defaultHttpEndpoint" httpPort="${default.http.port}" httpsPort="${default.https.port}" host="*" />

	<applicationManager autoExpand="true" />
	<keyStore id="defaultKeyStore" password="mpKeystore" />
	<!-- <webApplication location="${locate.app}" contextRoot="nayla" /> -->
	<webApplication contextRoot="nayla" location="${locate.app}" />
	<quickStartSecurity userName="admin" userPassword="admin" />
	<logging traceSpecification="com.ibm.ws.microprofile.health.*=all" />

	<library id="jdbc-drivers">
		<fileset dir="${locate.lib}" includes="postgresql.jar" />
	</library>

	<dataSource id="DefaultDataSource" jndiName="jdbc/nayla">
		<jdbcDriver id="postgresql-driver"
	                javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
	                javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
	                libraryRef="jdbc-drivers"/>
		<properties serverName="127.0.0.1"
								portNumber="5432"
								databaseName="nayla"
								user="postgres"
								password="admin"/>
	</dataSource>
</server>